.row {
    justify-content: center;
}

/* .text_under_img{
    display: flex;
    width: 30%;
    background-color: #4DC662;
    height: fit-content;
    left: 35%;
    justify-content: center;
    align-items: baseline;
    font-size: 24px;
    line-height: 150%;
} */
.widthinc{
    width: 100%;
}
.text_under_img {
    display: flex;
    /* width: 50%;
    bottom: 18.25rem;
    left: 27%; */
    width: 45%;
    bottom: 28.25rem;
    left: 24%;
    position: relative;
    background-color: #4DC662;
    height: fit-content;
    justify-content: center;
    align-items: baseline;
    font-size: 24px;
    line-height: 150%;
}

@media screen and (max-width: 1200px) {
    .text_under_img {
        /* width: 75%;
        left: 13%;
        bottom: 15rem; */
        width: 50%;
    left: 20%;
    bottom: 24rem;
    }
}

@media screen and (max-width: 992px) {
    .text_under_img {
        font-size: 16px;
        max-width: 75%;
        bottom: 18rem;
        /* bottom: 11rem; */
    }
}

@media screen and (max-width: 767px) {
    .text_under_img {
        font-size: 12px;
        width: 100%;
        max-width: 100%;
        bottom: 0rem;
        left: 0%;
    }
    .cccc1{
        display: inline !important;
    }
    .ppp1{
        padding: 1rem;
    }
}
.cccc1{
    display: block;
}
@media screen and (max-width: 574px) {
    .text_under_img {
        font-size: 18px;
        /* width: 75%;
        max-width: 75%;
        bottom: 12rem;
        left: 13%; */
        width: 60%;
    max-width: 75%;
    bottom: 14.5rem;
    left: 15%;
    padding-left: 1rem;
    padding-right: 1rem;
    }
}
@media screen and (max-width: 485px) {
    .text_under_img {
        font-size: 16px;
        width: 75%;
        max-width: 75%;
        bottom: 13rem;
        /* bottom: 10rem; */
        left: 13%;
    }
}
@media screen and (max-width: 440px) {
    .text_under_img {
        font-size: 16px;
        width: 75%;
        max-width: 75%;
        bottom: 11rem;
        /* bottom: 10rem; */
        left: 13%;
    }
}
@media screen and (max-width: 384px) {
    .text_under_img {
        font-size: 12px;
        width: 100%;
        max-width: 100%;
        bottom: 0rem;
        left: 0%;
    }
}